<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Home</title>
    </head>
    <body>
        <section>
            <header>
                <nav>
                    <a href="/home">Home(redirects to root)</a>
                    <a href="/about">About</a>
                    <a href="/contact">Contact</a>
                </nav>
            </header>
            <hr />
            <section>
                <h2>My (Bio) Data</h2>
                <p>First Name: Joshua</p>
                <p>Middle Name: Oluwatobi</p>
                <p>Last Name: Ehinmoro</p>
                <p>Nick Name: Tyrell</p>
                <p>Date of Birth: <time datetime="1994-10-26T12:00">26-10-1994</time></p>
                <p>Height: 175cm</p>
                <p>Weight: 75kg</p>
                <p>Occupation: Unemployed</p>
            </section>
            <hr />
            <footer>
                <p>©Tyrell, 2022</p>
            </footer>
        </section>
    </body>
</html>
